doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/")= title
          .nav-collapse
            ul.nav
              li
                a(href="/") Apps
              li.active
                a(href="/upload") Upload
    .container
      form(action="/upload",enctype="multipart/form-data",method="post")
        input(type="text",name="title")
        br
        input(type="file",name="upload",multiple="multiple")
        br
        button(type="submit") Upload
      hr(noshade)
      pre= response
